.Header {
  backdrop-filter: var(--nav-backdrop);
  border: var(--nav-border);
  color: white;
  display: grid;
  grid-template-columns:
    var(--header-height) minmax(min-content, calc(var(--header-height) * 3))
    minmax(250px, auto) minmax(min-content, calc(var(--header-height) * 4));
  align-items: center;
  font-size: 20px;
  width: 100vw;
}

@media (max-width: 700px) {
  .Header {
    grid-template-columns: var(--header-height) minmax(0px, auto) min-content;
  }
}

.Header > * {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding-left: var(--nav-padding);
  padding-right: var(--nav-padding);
}

.logo {
  border-right: var(--nav-border);
  padding-left: calc(calc(var(--header-height) - 40px) / 2);
  padding-right: calc(calc(var(--header-height) - 40px) / 2);
}

.title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 700px) {
  .title {
    display: none;
  }
}

.observation {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.observation > * {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.menu {
  z-index: 2;
}
