.Header {
  backdrop-filter: var(--nav-backdrop);
  border-bottom: var(--nav-border);
  border-top: var(--nav-border);
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 100vw;
}

.Header > * {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding-left: var(--nav-padding);
  padding-right: var(--nav-padding);
}

.logo {
  border-right: var(--nav-border);
  padding-left: calc(calc(var(--header-height) - 40px) / 2);
  padding-right: calc(calc(var(--header-height) - 40px) / 2);
}

.title {
  flex-grow: 1;
}
