.ButtonSwitch.active {
  border-color: var(--whiteA12);
  color: black;
  box-shadow: 0 0 6px 3px var(--whiteA5), inset 0 0 20px 20px var(--whiteA12);
}

.ButtonSwitch.active:hover {
  border-color: white;
  background-color: white;
  color: black;
}
