.FilterControls {
  border-bottom: var(--nav-border);
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  gap: 15px;
  color: var(--whiteA12);
  padding: var(--nav-padding);
}

.title {
  grid-column: 1 / -1;
}
