.Sidebar {
  align-content: flex-end;
  backdrop-filter: var(--nav-backdrop);
  border-left: var(--nav-border);
  border-right: var(--nav-border);
  flex-direction: column;
  flex-grow: 1;
  min-height: fit-content;
  opacity: 1;
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-color: var(--scrollbar-foreground-color)
    var(--scrollbar-background-color);
  width: var(--sidebar-width);
}

.Sidebar::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

.Sidebar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground-color);
  border: var(--scrollbar-border);
  border-radius: var(--scrollbar-size);
}

.Sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}

.Sidebar::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}
