.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
}
.SliderRoot[data-orientation="horizontal"] {
  height: 20px;
}
.SliderRoot[data-orientation="vertical"] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.SliderTrack {
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px var(--whiteA9);
}
.SliderTrack[data-orientation="horizontal"] {
  height: 6px;
}
.SliderTrack[data-orientation="vertical"] {
  width: 3px;
}

.SliderRange {
  position: absolute;
  background-color: transparent;
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px var(--whiteA10);
}
.SliderThumb:hover {
  box-shadow: inset 0 0 0 2px var(--whiteA10);
}
.SliderThumb:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--whiteA12);
}

.SliderThumb:focus:hover {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--whiteA12);
}
