:root {
  --border-radius: 7px;

  --font-size-small: 13px;
  --font-size-normal: 16px;
  --font-size-large: 20px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --header-height: 70px;
  --footer-height: 24px;

  --nav-border: 1px solid var(--whiteA10);
  --nav-padding: calc(var(--header-height) / 3);
  --nav-backdrop: blur(20px) contrast(50%) brightness(40%) grayscale(40%);

  --scrollbar-foreground-color: rgb(133, 133, 133);
  --scrollbar-hover-color: rgb(165, 165, 165);
  --scrollbar-background-color: transparent;
  --scrollbar-border: 2px solid rgb(34, 34, 34);
  --scrollbar-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  position: relative;
  margin: 0;
  font-family: inherit;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overflow: hidden;
}

body {
  background-color: black;
  font-family: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

a {
  color: inherit;
}
