.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

.viewport {
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
}

.nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 2;
  box-shadow: inset 0 0 0 1px var(--whiteA10);
}

.nav > * {
  pointer-events: all;
}
